.git
.github
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
database/database.sqlite
.phpunit.cache
.phpunit.result.cache
Makefile
README.md
