includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - routes
        - database
    level: 6
    noEnvCallsOutsideOfConfig: true
    noModelMake: true
    checkOctaneCompatibility: false
